* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #f9f7f6;
  --color-dark: black;
  --font-display: "Century Gothic";
  --font-primary: "'Times New Roman', Times, serif";
  --color-primary: #FEE1B3;
  --colo-secondary: #FF5200;
  --color-button: rgb(218, 20, 20);
  --color-button-secondary: rgb(255, 0, 0);
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  background-image: url(/assest/home/67974682_32ff96.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: var(--font-display);
  position: relative;
}

/* *****************************************NAVBAR************************************************** */
header {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo img {
  cursor: pointer;
  mix-blend-mode: lighten;
  width: 180px;
}

.animate__slideInLeft:hover {
  animation-name: animate__slideInLeft;
}

nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-light);
  padding: 5px 20px;
  border: 1px transparent;
  text-decoration: solid;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  color: var(--color-light);
  padding: 5px 20px;
  border: 1px transparent;
  background: none;
  text-decoration: solid;
  margin-top: top 50px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;

}

.dropdown-content a {
  color: var(--color-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--color-button);
  color: var(--color-light);
  transition: 0.7s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: 0.7s;
}

.book-btn button {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: transparent;
  padding: 0.8rem;
  border-radius: 99px;
  cursor: pointer;
  width: max-content;
  font-weight: bolder;
  display: flex;
}

.book-btn button:hover {
  transition: 0.5s;
  background: var(--color-button);
  color: var(--color-light);
  box-shadow: 0 0 5px var(--color-button),
    0 0 25px var(--color-button),
    0 0 50px var(--color-button),
    0 0 200px var(--color-button);

}

/*************************************************TITLE****************************************************/
.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: var(--color-light);
  font-size: 70px;
  font-family: var(--font-primary);
}

.title p {
  color: var(--color-light);
  font-family: var(--font-display);
  text-decoration: line-through;
}

.title button {
  background-color: var(--color-button);
  color: var(--color-light);
  border: transparent;
  padding: 1rem;
  border-radius: 99px;
  cursor: pointer;
  width: max-content;
  font-weight: bolder;
  font-size: 80%;
}

.title button:hover {
  transition: 0.5s;
  background: var(--color-button-secondary);
  color: var(--color-dark);
  box-shadow: 0 0 5px var(--color-button-secondary),
    0 0 25px var(--color-button-secondary),
    0 0 50px var(--color-button-secondary),
    0 0 200px var(--color-button-secondary);
}

.animate__flipInX:hover {
  animation-name: animate__lightSpeedInRight;
  cursor: pointer;
  animation-duration: 8s;
}

/* *******************************************FOOTER****************************************************** */
footer {
  background-color: rgb(29, 28, 28);
  color: var(--color-light);
  line-height: 1.5;
  position: absolute;
  width: 100%;
  top: 100%;
}

footer a {
  text-decoration: none;
  color: var(--color-light);
}

footer a:hover {
  text-decoration: underline;
}

.ft-title {
  color: var(--color-light);
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */

.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

  /* 477px */
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 77.5rem

  /* 1240px */
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.ft-main-item li {
  font-size: 1.1rem;
  padding: 0.1rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
  font-family: var(--font-display);
}

input[type="submit"] {
  background-color: rgb(0, 153, 255);
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

input[type="submit"]:hover {
  background-color: var(--color-button-secondary);
  color: var(--color-light);
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 2rem;
  list-style-type: none;
}

#face:hover {
  color: rgb(0, 140, 255);
}

#insta:hover {
  color: rgb(255, 72, 0);
}

#youtube:hover {
  color: red;
}

/* Footer App Link  */
.link-class {
  display: inline-block;
  margin-right: 0.5rem;
  padding-top: 2rem;
}

.link-img {
  transition-duration: .2s;
  max-width: 100%;
  height: auto;
  display: block;
}

.link-class:hover {
  transform: scale(1.1);
  transition-duration: 0.15s;
}

/* footer logo  */
.footer_logo {
  width: max-content;
}

.footer_logo img {
  mix-blend-mode: lighten;
  max-width: 100%;
  height: auto;
}