* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
  --color-light: #f9f7f6;
  --color-dark: black;
  --font-display: "Century Gothic";
  --font-primary:"'Times New Roman', Times, serif";
  --color-button:rgb(218, 20, 20);
  --color-button-secondary:rgb(255, 0, 0);
  --color-primary: rgb(254, 225, 179);
    --colo-secondary:#FF5200;
}

  html {
    font-size: 95%; /* 1rem = 10px */
    overflow-x: hidden;
    
  }
body{
    height: 100vh;
    font-family: var(--font-display);
    background-color: var(--color-dark);
    color: white;
}

/* *****************************************NAVBAR************************************************** */
header{
    padding: .5rem;
    max-width: 1200px;
margin: auto;
}
.navbar {
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  height: 100%;
  }
.nav-logo img {
    cursor: pointer;
    mix-blend-mode: lighten;
    width: 180px;
  }
  .animate__slideInLeft:hover{
    animation-name:  animate__slideInLeft;
  }

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-light);
    padding: 5px 20px;
    border: 1px transparent;
    text-decoration: solid;
    margin-top: top 50px;
}
nav ul li a:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: 0.7s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
    text-decoration: none;
  color: var(--color-light);
  padding: 5px 20px;
  border: 1px transparent;
  background: none;
  text-decoration: solid;
  margin-top: top 50px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
   box-shadow: none;
  z-index: 1;
  
}
.dropdown-content a {
  color: var(--color-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
   background-color: var(--color-button);
  color: var(--color-light);
  transition: 0.7s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn { 
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: 0.7s;
}
  .book-btn button {
    background-color:var(--color-light);
    color: var(--color-dark);
    border: transparent;
    padding: 0.8rem;
    border-radius: 99px;
    cursor: pointer;
    font-family: var(--font-primary);
    width: max-content;
    font-weight: bolder;
    display: flex;
  }
  .book-btn button:hover{
    transition: 0.5s;
    background: var(--color-button);
    color:var(--color-light);
    box-shadow: 0 0 5px var(--color-button),
                0 0 25px var(--color-button),
                0 0 50px var(--color-button),
                0 0 200px var(--color-button);

  }
  :root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  
 
  @media screen and (min-width: 821px) {
	

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {


	
	.navbar{
		width: 2.0%;
		margin-left: 7px;
		gap: 1rem;
		
	}
	button{
		font-size: smaller;
	}
	.title h1{
		font-size: 3rem;
	}
  .heading{
    text-align: center;
  }
	.heading h1{
    width: 100%;
    font-size: 2rem;
  }
  .heading p{
    width: 100%;
    font-size: medium;
  }
  .birthday_gallary{
    display: flex;
    flex-direction: column;
  }
  .anniversery_gallary{
    display: flex;
    flex-direction: column;
  }
  .grand_gallary{
    display: flex;
    flex-direction: column;
  }
  }


  /* ***********************************GALLERY******************************************** */
  .container{
    padding: 1.25rem ;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}
.birthday_gallary{
    display: flex ;
    margin: 2.5rem 0;
}
.birthday_gallary .heading{
    font-size: 1.5rem;
    width: 50%;
    padding-top: 5rem;
}
.birthday_gallary .heading span{
    color: #FF5200;

}
p{
    font-size: 1rem;
    line-height: 1.8rem;
    width: 95%;

}
.birthday_gallary .images{
    padding: 5rem 0;
   display: grid;
   grid-template-columns: repeat(3 , auto);
   grid-template-rows: repeat(3 , 10vw);
   grid-gap:1.5rem ;
}
.images img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.anniversery_gallary{
    display: flex;
    margin: 2.5rem 0;
}
.anniversery_gallary .heading{
    font-size: 1.5rem;
    width: 50%;
    padding-top: 5rem;
}
.anniversery_gallary .heading span{
    color: #FF5200;

}
.anniversery_gallary .images{
    padding: 5rem 0;
   display: grid;
   grid-template-columns: repeat(3 , auto);
   grid-template-rows: repeat(3 , 10vw);
   grid-gap:1.5rem ;
}

.grand_gallary{
    display: flex;
    margin: 2.5rem 0;
}
.grand_gallary .heading{
    font-size: 1.5rem;
    width: 50%;
    padding-top: 5rem;
}
.grand_gallary .heading span{
    color: #FF5200;

}
.grand_gallary .images{
    padding: 5rem 0;
   display: grid;
   grid-template-columns: repeat(3 , auto);
   grid-template-rows: repeat(3 , 10vw);
   grid-gap:1.5rem ;
}
.images img:hover{
    transform: scale(1.1);
transition: 0.3s ease-in-out;
cursor: pointer;
}

/* *******************************************FOOTER****************************************************** */
footer {
    background-color: rgb(29, 28, 28);
    color: #bbb;
    line-height: 1.5;
    position:absolute;
    width: 100%;
      /* top: 100%; */
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  .ft-main-item li{
    font-size: 1.1rem;
  padding: 0.1rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
    font-family: var(--font-display);
  }
  input[type="submit"] {
    background-color: rgb(0, 153, 255);
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"]:hover{
    background-color: var(--color-button-secondary);
    color: var(--color-light);
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 2rem;
    list-style-type: none;
  }
  #face:hover{
  color: rgb(0, 140, 255);
  }
  #insta:hover{
    color: rgb(255, 72, 0);
    }
      #youtube:hover{
        color: red;
        }
        /* Footer App Link  */
        .link-class{
          display: inline-block;
          margin-right: 0.5rem;
          padding-top: 2rem;
        }
        .link-img{
          transition-duration: .2s;
          max-width: 100%;
        height: auto;
        display: block;
        }
        .link-class:hover{
          transform: scale(1.1);
          transition-duration: 0.15s;
        }
        /* footer logo  */
        .footer_logo{
          width: max-content;
        }
        .footer_logo img{
          mix-blend-mode: lighten;
          max-width: 100%;
        height: auto;
        }
