* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
  --color-light: #f9f7f6;
  --color-dark: black;
  --font-display: "Century Gothic";
  --font-primary:"'Times New Roman', Times, serif";
  --color-button:rgb(218, 20, 20);
  --color-button-secondary:rgb(255, 0, 0);
}

  html {
    font-size: 95%; /* 1rem = 10px */
    overflow-x: hidden;
    
  }
body{
    height: 100vh;
    font-family: var(--font-display);
    background-color: var(--color-dark);
}

/* *****************************************NAVBAR************************************************** */
header{
    padding: 1rem;
    max-width: 1200px;
margin: auto;
}
.navbar {
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  height: 100%;
  }
.nav-logo img {
    cursor: pointer;
    mix-blend-mode: lighten;
    width: 180px;
  }
  .animate__slideInLeft:hover{
    animation-name:  animate__slideInLeft;
  }

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-light);
    padding: 5px 20px;
    border: 1px transparent;
    text-decoration: solid;
    margin-top: top 50px;
}
nav ul li a:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: 0.7s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
    text-decoration: none;
  color: var(--color-light);
  padding: 5px 20px;
  border: 1px transparent;
  background: none;
  text-decoration: solid;
  margin-top: top 50px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
   box-shadow: none;
  z-index: 1;
  
}
.dropdown-content a {
  color: var(--color-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
   background-color: var(--color-button);
  color: var(--color-light);
  transition: 0.7s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn { 
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: 0.7s;
}
  .book-btn button {
    background-color:var(--color-light);
    color: var(--color-dark);
    border: transparent;
    padding: 0.8rem;
    border-radius: 99px;
    font-family: var(--font-primary);
    cursor: pointer;
    width: max-content;
    font-weight: bolder;
    display: flex;
  }
  .book-btn button:hover{
    transition: 0.5s;
    background: var(--color-button);
    color:var(--color-light);
    box-shadow: 0 0 5px var(--color-button),
                0 0 25px var(--color-button),
                0 0 50px var(--color-button),
                0 0 200px var(--color-button);

  }




  /* **************************************************MENU******************************************************* */
.homes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin: 1rem;
 
}

.heartIcon {
  width: 3rem;
  height: 3rem;
  position: relative;
display: flex;
justify-content: flex-start;
align-items: flex-end;
  cursor: pointer;
  font-size: 2.2rem;
  color: var(--color-light);
}
.heartIcon i:hover{
  color: rgb(255, 0, 0);
}


.card {
  width: 100%;
/* display: inline-block; */
/* box-shadow: 2px 2px 20px rgb(255, 198, 41); */
border-radius: 5px;
color: var(--color-light);
background-color:rgb(29, 28, 28);
transition: 0.5s ease-in-out;
padding-left: 2rem;
padding-right: 2rem;

}
.image img:hover{
transform: scale(1.1);
transition: 0.3s ease-in-out;

}
.container{
padding-top: 4rem;
padding-left: 4rem;
padding-right: 4rem;
}
.heading{
text-align: center;
color: var(--color-light);
font-size: 3rem;
font-family: 'Times New Roman', Times, serif;
text-decoration: underline;
}
.image img {
position: relative;
grid-column: 1 / span 2;
width: 100%;
height: 300px;
object-fit: contain;
}

.title {
margin-top: -2rem;
padding-bottom: 1rem;
}

h1 {
font-size: 20px;
}

.des {
text-align: center;
padding-bottom: 1rem;

}

.des button {
background-color: var(--color-button);
color: var(--color-light);
border: transparent;
padding: .7rem ;
border-radius: 10px;
cursor: pointer;
width: max-content;
font-size: 14px;
}


.des button:hover {
transition: 0.5s;
background: var(--color-light);
color:var(--color-button-secondary);
/* box-shadow: 0 0 5px var(--color-light),
        0 0 25px var(--color-light),
        0 0 50px var(--color-light),
        0 0 200px var(--color-light);  */
} 
h4{
margin-top: 0.5rem;
font-size: 16px;
} 


/* For mobile phones: */
/* [footer*="container"] {
  width: 100%;
} */


/* @media only screen and (min-width: 600px) { */
  /* For tablets: */
  /* .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  footer {width: 100%;}
}
@media only screen and (min-width: 768px) { */
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  footer {width: 100%;}
}

@media screen and (min-width: 992px){
  
} */

/* *******************************************FOOTER****************************************************** */
footer {
  background-color: rgb(29, 28, 28);
  color: #bbb;
  line-height: 1.5;
  position:absolute;
  width: 100%;
    /* top: 100%; */
}
footer a {
  text-decoration: none;
  color: #eee;
}
footer a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */

.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.ft-main-item li{
  font-size: 1.1rem;
padding: 0.1rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
  font-family: var(--font-display);
}
input[type="submit"] {
  background-color: rgb(0, 153, 255);
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
input[type="submit"]:hover{
  background-color: var(--color-button-secondary);
  color: var(--color-light);
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 2rem;
  list-style-type: none;
}
#face:hover{
color: rgb(0, 140, 255);
}
#insta:hover{
  color: rgb(255, 72, 0);
  }
    #youtube:hover{
      color: red;
      }
      /* Footer App Link  */
      .link-class{
        display: inline-block;
        margin-right: 0.5rem;
        padding-top: 2rem;
      }
      .link-img{
        transition-duration: .2s;
        max-width: 100%;
      height: auto;
      display: block;
      }
      .link-class:hover{
        transform: scale(1.1);
        transition-duration: 0.15s;
      }
      /* footer logo  */
      .footer_logo{
        width: max-content;
      }
      .footer_logo img{
        mix-blend-mode: lighten;
        max-width: 100%;
      height: auto;
      }


