* {
    margin: 0;
    padding: 0;
  }
  
  :root {
  --color-primary: #FEE1B3;
  --colo-secondary:#FF5200;
  --color-primary-first: #ffffff;
  --colo-secondary-first:rgb(254, 52, 125);
    --font-display: "Century Gothic";
    --font-primary: "'Times New Roman', Times, serif";
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body {
    background-color: var(--color-primary);
    font-family: var(--font-display);

  }
